@use '../abstracts' as *;

/* Hero section
   ========================================================================== */

.hero {
    color: $clr-neutral-3;
    background-color: $clr-primary-1;

    @include break($tablet) {
        position: relative;
        background-color: $clr-primary-1;
    }

    &-inner {

        @include break($tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include break($desktop) {
            @include container;
        }
    }

    &__img {

        @include break-min-max(33.8125em, $tablet - 0.0625em) {
            display: none;
        }

        @include break-min-max($tablet, 60.5625em) {
            order: 2;
            position: relative;
            top: 5.3125rem;
            padding-right: 1.5rem;
        }

        @include break-min-max(60.625em, $desktop - 0.0625em) {
            order: 2;
            position: absolute;
            top: 2.5rem;
            right: 0;
            width: 44%;
            padding-right: 1.5rem;
        }

        @include break($desktop) {
            order: 2;
            justify-self: end;
            position: absolute;
            top: 6.5625rem;
        }
    }

    &__body {
        order: 1;
        padding: 5.75rem 1.5rem 5.75rem;
        background:
            url("../img/bg-pattern-intro-left-mobile.svg") top left no-repeat,
            url("../img/bg-pattern-intro-right-mobile.svg") bottom -177px right no-repeat;

        @include break-min-max(33.8125em, $tablet - 0.0625em) {
            background:
                linear-gradient(rgba(45, 38, 64, 0.85), rgba(45, 38, 64, 0.85)),
                url(../img/image-intro-desktop.jpg) center / cover no-repeat;
        }

        @include break($tablet) {
            position: relative;
            z-index: 1100;
            padding-bottom: 4.5rem;
            background: transparent;
        }

        @include break($desktop) {
            padding: 10.5rem 0 7.9375rem;
        }
    }

    &__heading {
        font-size: 3rem;
        margin: 0 0 1.0625rem;

        @include break(54.375em) {
            font-size: 3.5rem;
            letter-spacing: -0.004em;
            line-height: 0.9;
            margin: 0 0 1.875rem;
        }

        @include break($desktop) {
            font-size: 4.375rem;

            &::before {
                content: "";
                display: block;
                position: relative;
                top: -4rem;
                width: 9.3125rem;
                height: 0.0625rem;
                background-color: $clr-neutral-3;
            }
        }
    }

    &__p {
        line-height: 1.6;
        letter-spacing: 0.005em;
        margin-bottom: 2.125rem;

        @include break($desktop) {
            margin-bottom: 1.9375rem;
        }
    }

    &__btn {
        position: relative;
        z-index: 700;
        padding: 0.7143em 1.9286em 0.7143em;
        border-color: $clr-neutral-3;
        transition: $transition-btn;
        transition-property: color, background-color;

        &:hover {
            color: $clr-neutral-1;
            background-color: $clr-neutral-3;
        }
    }

    &__bg-pattern {

        @include break($tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: -350px;
            left: 0;
            z-index: 1000;
            background:
                url("../img/bg-pattern-intro-left-mobile.svg") top left no-repeat,
                url("../img/bg-pattern-intro-right-mobile.svg") top right no-repeat;
        }

        @include break($desktop) {
            background:
                url("../img/bg-pattern-intro-left-desktop.svg") bottom 18px left no-repeat,
                url("../img/bg-pattern-intro-right-desktop.svg") top -80px right no-repeat;
        }
    }
}

/* Section 2
   ========================================================================== */

.section-2 {
    margin-bottom: 8.8125rem;
    padding-top: 11.375rem;

    @include break($tablet) {
        display: grid;
        grid-template-areas:
            "heading    heading     heading"
            "cd-1       cd-2        cd-3";
        grid-gap: 0 1.5rem;
        position: relative;
        z-index: 1100;
    }

    @include break($desktop) {
        grid-gap: 0 0.375rem;
        margin-bottom: 10rem;
        padding-top: 22.875rem;
    }

    &__heading {
        font-size: 3rem;
        margin: 0 0 4.9375rem;

        @include break($tablet) {
            grid-area: heading;
        }

        @include break(56.25em) {
            font-size: 3.5rem;
        }

        @include break($desktop) {
            font-size: 4.375rem;
            letter-spacing: -0.003em;
            margin-bottom: 5.75rem;
        }

        &::before {
            content: "";
            display: block;
            position: relative;
            top: -2.5625rem;
            width: 9.375rem;
            height: .0625rem;
            margin: 0 auto;
            background-color: #b8a2b9;

            @include break($tablet) {
                top: -3.8125rem;
                margin: 0;
            }
        }
    }
}

.card-design {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include break($tablet) {
        display: block;
    }

    &:not(:last-child) {
        margin-bottom: 3.5625rem;

        @include break($tablet) {
            margin: 0;
        }
    }

    &__icon {
        width: 5.375rem;
    }

    &__heading {
        font-size: 1.75rem;
        margin: 2.0625rem 0 1.3125rem;
    }

    &__p {
        color: $clr-neutral-2;
        line-height: 1.6;
        letter-spacing: 0.003em;
    }
}

.cd-1 {
    @include break($tablet) {
        grid-area: cd-1;
    }
}

.cd-2 {
    @include break($tablet) {
        grid-area: cd-2;
    }
}

.cd-3 {
    @include break($tablet) {
        grid-area: cd-3;
    }
}

/* Section 3
   ========================================================================== */

.section-3 {
    color: $clr-neutral-3;
    padding: 72px 24px 72px;
    background: $clr-primary-1 url("../img/bg-pattern-how-we-work-mobile.svg") top right no-repeat;

    @include break($tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 69px 78px 69px 81px;
        background: $clr-primary-1 url("../img/bg-pattern-how-we-work-desktop.svg") top right no-repeat;
    }

    &__heading {
        font-size: 2.5rem;
        font-family: $ff-heading;
        margin: 0 0 2.5rem;

        @include break($tablet) {
            margin: 0;
        }

        @include break(900px) {
            font-size: 2.8rem;
        }

        @include break($desktop) {
            font-size: 3.5rem;
        }
    }

    &__btn {
        padding: 0.7143em 1.5714em 0.7143em;
        border-color: $clr-neutral-3;
        transition: $transition-btn;
        transition-property: color, background-color;

        &:hover {
            color: $clr-neutral-1;
            background-color: $clr-neutral-3;
        }
    }
}