@use '../abstracts' as *;

.main-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 900;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include break($desktop) {
            @include container
        }
    }
}

.logo {
    /* Fit the size to that of the logo image. */
    display: inline-block;
}