.main-header {
    margin-bottom: 24px;
}

.main-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.logo {
    /* Fit the size to that of the logo image. */
    display: inline-block;
}