@use '../abstracts' as *;

.main-menu-btn {
    width: $icon-menu-size;
    height: $icon-menu-size;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .125em solid $clr-primary-1;

    @include break($tablet) {
        display: none;
    }

    &__icon {

        &,
        &::before,
        &::after {
            display: block;
            width: $line-menu-width;
            height: $line-menu-height;
            background-color: $clr-primary-1;
        }

        &::before,
        &::after {
            content: "";
            transition: transform 400ms ease;
        }

        &::before {
            transform: translateY(-1 * ($line-menu-space + $line-menu-height));
        }

        &::after {
            transform: translateY($line-menu-space);
        }

        .is-active & {
            height: 0;
        }

        .is-active &::before {
            transform: translateY(-1px) rotate(45deg);
        }

        .is-active &::after {
            transform: translateY(-3px) rotate(-45deg);
        }
    }
}

.main-menu {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    z-index: 800;
    height: 100vh;
    padding: 3rem 1.5rem 0;
    background: $clr-neutral-1 url("../img/bg-pattern-mobile-nav.svg") bottom right / contain no-repeat;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: 300ms ease-in-out;
    transition-property: visibility, opacity, transform;

    @include break($tablet) {
        display: flex;
        align-items: center;
        position: static;
        height: unset;
        padding: 0;
        background: transparent;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    .is-active & {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }

    &__item:not(:last-child) {
        margin-bottom: 2.5625rem;

        @include break($tablet) {
            margin: 0 1.625rem 0 0;
        }
    }

    @include break-max($tablet - 0.0625em) {

        /* Fade in links one by one when user opens menu */
        &__item:nth-child(1) &__link {
            transition-delay: 500ms;
        }

        &__item:nth-child(2) &__link {
            transition-delay: 800ms;
        }

        &__item:nth-child(3) &__link {
            transition-delay: 1100ms;
        }

        &__item:nth-child(4) &__link {
            transition-duration: 700ms;
            transition-delay: 1600ms;
        }
    }

    &__link {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.07em;
        color: $clr-neutral-3;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: 400ms ease-in-out;
        transition-property: opacity, transform;

        @include break($tablet) {
            font-size: 0.875rem;
            color: $clr-neutral-2;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: color $transition-smooth;

            &:hover {
                color: $clr-neutral-1;
            }
        }

        .is-active & {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        &.cta-btn {
            width: 100%;
            margin-top: -7px;
            padding: 0.7em 1em;
            border-color: $clr-neutral-3;

            @include break($tablet) {
                color: $clr-neutral-1;
                margin: 0;
                padding: 0.7143em 1.8571em;
                border-color: $clr-neutral-1;
                transition: $transition-btn;
                transition-property: color, background-color;
            }

            &:hover {
                color: $clr-neutral-3;
                background-color: $clr-neutral-1;
            }
        }
    }
}