@use '../abstracts' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: $clr-neutral-3;
  background-color: $clr-neutral-2;
}

body {
  font-family: $ff-body;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: $clr-primary-1;

  @include break($tablet) {
    text-align: left;
  }

  &.is-active {
    position: fixed;
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 0.125rem dashed #c69c95;
  outline-offset: 0.3125rem;
  color: $clr-neutral-1;
  background-color: #c69c95;
}

.logo:focus,
.social__icon:focus {
  background-color: transparent;
  fill: $clr-neutral-1;
}

p {
  margin: 0;
}

h1 {
  /* Prevent h1 from being larger than its content */
  line-height: 0;
  margin: 0;
}

h2,
h3 {
  font-weight: 400;
  letter-spacing: -0.014em;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;

  li {
    /* Bug:
     Some screen readers don't announce unordered lists when list-style-type is set to none */
    list-style-type: none;

    &::before {
      /* Bugfix:
         Add zero-width space, parent <ul> is announced with a role of list again */
      content: "\200B";
      /* Prevent the added zero-width space from affecting the layout */
      display: block;
      height: 0;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  /* Remove whitespace below images */
  vertical-align: top;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

main {
  margin-bottom: 8.75rem;

  @include break($desktop) {
    margin-bottom: 9.375rem;
  }
}

/* Select all classes ending with "__heading" except footer headings */
[class$="__heading"]:not(.footer-nav__heading) {
  font-family: $ff-heading;
}

/* For developing purposes:
   Show the intended design when disabling display property in DevTools */
.preview-design {
  display: none;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 3851px;
  background-image: url("../design/desktop-design.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}