@use '../abstracts' as *;

.container {
    padding-inline: 24px;
}

/* For AT users only */
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Select all classes which end with "__heading" except footer headings */
[class$="__heading"]:not(.footer-nav__heading) {
    font-family: $ff-heading;
}

.cta-btn {
    display: inline-block;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .063em;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
}