@use '../abstracts' as *;

.container {
    @include container;
}

/* Visually hide element, but keep it accessible for screen readers */
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Select all classes ending with "__heading" except footer headings */
[class$="__heading"]:not(.footer-nav__heading) {
    font-family: $ff-heading;
}

.cta-btn {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    border-width: 0.1429em;
    border-style: solid;
}