@use 'variables' as *;

@mixin container() {
    width: min(100%, 72.375rem);
    margin: 0 auto;
    padding-inline: 1.5rem;

}

/* Breakpoints */

@mixin break($width) {
    @media screen and (min-width: $width) {
        @content
    }
}

@mixin break-max($width) {
    @media screen and (max-width: $width) {
        @content
    }
}

@mixin break-min-max($min-width, $max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content
    }
}